@{
    ViewData["Title"] = "Guias";
}

<h1>@ViewData["Title"]</h1>

<p>Conteúdo da página Guias.</p>

<link rel="stylesheet" href="~/css/Home.css" asp-append-version="true" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />

<div class="container mt-5">
    <h1 class="display-4 text-center">Guias e Tutoriais</h1>
    <p class="lead text-center">Explore nossos guias e tutoriais detalhados sobre jogos, ferramentas e técnicas.</p>

    <!-- Lista de Tutoriais -->
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="~/imgs/tutorial1.jpg" class="card-img-top" alt="Tutorial 1">
                <div class="card-body">
                    <h5 class="card-title">Tutorial 1</h5>
                    <p class="card-text">Descrição breve do Tutorial 1. Aprenda os fundamentos básicos e técnicas essenciais.</p>
                    <a href="#" class="btn btn-primary">Leia mais</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="~/imgs/tutorial2.jpg" class="card-img-top" alt="Tutorial 2">
                <div class="card-body">
                    <h5 class="card-title">Tutorial 2</h5>
                    <p class="card-text">Descrição breve do Tutorial 2. Explore técnicas avançadas e truques úteis.</p>
                    <a href="#" class="btn btn-primary">Leia mais</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="~/imgs/tutorial3.jpg" class="card-img-top" alt="Tutorial 3">
                <div class="card-body">
                    <h5 class="card-title">Tutorial 3</h5>
                    <p class="card-text">Descrição breve do Tutorial 3. Descubra dicas e truques para otimizar sua experiência.</p>
                    <a href="#" class="btn btn-primary">Leia mais</a>
                </div>
            </div>
        </div>
    </div>
</div>
